{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      <div class='flex flex-row-reverse'>
        {{#paper-checkbox value=isFinished onChange=(action (mut isFinished))}}
        {{if isFinished 'Complete' 'Incomplete'}}
      {{/paper-checkbox}}
      </div>
      <span class='font-bold'>Title:</span>
        {{#if isEditing}}
          {{paper-input 
            class="flex-100" 
            label="Title" 
            placeholder="Enter Title" 
            value=item.title
            required=true 
            onChange=(action (mut item.title))
          }}
        {{else}}
          {{#text.headline class='text-base'}}{{item.title}}{{/text.headline}}
        {{/if}}
      
      {{#if item.description}}
        <span class='font-bold'>Description:</span>
        {{#if isEditing}}
          {{paper-input 
            textarea=true 
            block=true 
            label="Description" 
            maxlength=150 
            passThru=(hash rows=3 maxRows=3)
            value=item.description
            onChange=(action (mut item.description))
          }}
        {{else}}
          {{#text.headline class='text-base'}}{{item.description}}{{/text.headline}}
        {{/if}}
      {{/if}}

    <p class='text-sm pt-12'>Created On: {{publishedTime}}</p>
    {{#if item.updatedOn}}
      <p class='text-sm'>Updated On: {{item.updatedOn}}</p>
    {{/if}}
      {{/title.text}}
    {{/card.title}}
    {{#card.actions}}
      {{#if isEditing}}
        {{#paper-button onClick=(action 'cancelEdit')}}Cancel{{/paper-button}}
        {{#paper-button onClick=(action 'updateItem')}}Submit{{/paper-button}}
      {{else}}
        {{#paper-button onClick=@deleteItem}}Delete{{/paper-button}}
        {{#paper-button onClick=(action 'itemEditing')}}Edit{{/paper-button}}
      {{/if}}
  {{/card.actions}}
  {{/paper-card}}
