<h1 class='text-center'> TODO APP</h1>
  <div class='flex justify-around'>
  <div>
    <label>Title*</label>
    <Input 
      @value={{this.itemTitle}}  
      @autofocus={{true}} 
      @placeholder="Type in your item" 
      @required={{true}} 
    />
  </div>
  <button {{action "submitForm"}} disabled={{isDisabled}}>Submit Task</button>
  </div>

  <div class='flex justify-around'>
  <label>Description</label>
  <Input @value={{this.itemDescription}} @placeholder="Type in your description"/>
  </div>
  {{#paper-switch value=sortBy onChange=(action (mut sortBy))}}
    {{if sortBy 'Most Recent' 'Oldest'}}
  {{/paper-switch}}


{{#if (lte model.length 0) }}
  <h1 class='text-center'>NO TASKS</h1>
{{else}}
  {{#if sortBy}}
    {{#each (sort-by "publishedOn:desc" this.model) as |item|}}
      <ItemCard 
        @item={{item}} 
        @isDisabled={{this.isDisabled}}
        @deleteItem={{action "deleteItem" item}}
        @editingItem={{action "editingItem"}}
        @cancelEdit={{action "cancelEdit" item}}
        @updateItem={{action "updateItem" item}}
      />
    {{/each}}
  {{else}}
    {{#each this.model as |item|}}
      <ItemCard 
        @item={{item}} 
        @isDisabled={{this.isDisabled}}
        @deleteItem={{action "deleteItem" item}}
        @editingItem={{action "editingItem"}}
        @cancelEdit={{action "cancelEdit" item}}
        @updateItem={{action "updateItem" item}}
      />
    {{/each}}
  {{/if}}
{{/if}}
