<h1> TODO APP</h1>

<Input @value={{this.itemTitle}} @autofocus={{true}} @placeholder='Type in your item' @required={{true}} />
<Input @value={{this.itemDescription}} @placeholder='Type in your description'/>
<BsButton @onClick={{action "submitForm"}} @disabled={{isDisabled}}>Submit Task</BsButton>

{{#each this.model as |item|}}
  <div>
    <BsAccordion as |acc|>
      <button {{action "deleteItem" item}}> X </button>
      <button {{action "updateItem" item}}> Edit </button>
      <acc.item @title={{item.title}}>
        <p>{{item.description}}</p>
      </acc.item>
    </BsAccordion>
  </div>
{{/each}}