<h1> TODO APP</h1>

<Input @value={{this.itemTitle}} @autofocus={{true}} @placeholder='Type in your item' @required={{true}} />
<Input @value={{this.itemDescription}} @placeholder='Type in your description'/>
<BsButton @onClick={{action "submitForm"}} @disabled={{isDisabled}}>Submit Task</BsButton>

{{#each this.model as |item|}}
  <ItemCard 
    @item={{item}} 
    @isDisabled={{this.isDisabled}}
    @deleteItem={{action 'deleteItem' item}}
    @editingItem={{action 'editingItem'}}
    @cancelEdit={{action 'cancelEdit' item}}
    @updateItem={{action 'updateItem' item}}
  />
{{/each}}
